__pycache__/
**/__pycache__/
**/**/__pycache__/
.venv
venv/
env/
.env
**/.env
.coverage
cover_unit
cover_integration
cover_combined
.coverage.*
coverage
cover/
htmlcov/
.tox/
.nox/
.pytest_cache/
.pytest_cache/**
.pytest_cache/**/*
.pytest_cache/**/*
.ruff_cache/
.mypy_cache/
.dmypy.json
.dmypy.json/**
.pyre/
.pyre/**
.pyre/**/*
.ipynb_checkpoints